<h1> Paiement details </h1>
<div class="row">
    <div> <input type="checkbox" name="back pain" id="pack pain"> &nbsp; <label for="back pain">Back pain</label>
    </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <div> <input class="eme" type="checkbox" name="delivery charge" id="delivery charge"> &nbsp; <label
            for="delivery charge">Delivery charge</label>
    </div>
</div>
<br>
<div class="row">
    <div> <input type="checkbox" name="urgente" id="urgente"> &nbsp; <label for="urgente">Urgente</label>
    </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

    <div> <input type="checkbox" class="eme" name="classes" id="classes"> &nbsp; <label for="classes">Classes</label>
    </div>
</div>
<br>
<div class="row">
    <div> <input type="checkbox" name="stain removal" id="stain removal"> &nbsp; <label for="stain removal">Stain
            removal</label>
    </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <div> <input type="checkbox" class="eme" name="pick up" id="pick up"> &nbsp; <label for="pick up">Pick up &
            delivery</label>
    </div>
</div>

<br>

<div class="row">

    <div>
        <h4>Delivery date</h4> <input type="date">
    </div>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <div>
        <h4>Discount</h4> <input type="text" placeholder="enter Amount">
    </div>

</div>
<br>

<div class="row">
    <div>
        <h5>sub Total : </h5>
    </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp;
    <div>
        <strong>0.00f</strong>
    </div>
</div>

<div class="row">
    <div>
        <h5>Addon : </h5>
    </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp;
    <div>
        <strong>0.00f</strong>
    </div>
</div>

<div class="row">
    <div>
        <h5>Discount : </h5>
    </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp;
    <div>
        <strong>0.00f</strong>
    </div>
</div>

<div class="row">
    <div>
        <h5>Tax(0%) : </h5>
    </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp;
    <div>
        <strong>0.00f</strong>
    </div>
</div>

<br>

<div class="row">
    <div>
        <h5>Gross total : </h5>
    </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp;
    <div>
        <strong>0.00f</strong>
    </div>
</div>

<br>

<div class="row">

    <div>
        <h4>Paie amount</h4> <input type="text" placeholder="Enter amount">
    </div>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <div>
        <h4>paiement type</h4> <select name="type" id="type">
            <option value="Card">Card</option>
            <option value="Upi">Upi</option>
            <option value="cheque">cheque</option>
            <option value="banque transfert">banque transfert</option>
        </select>
    </div>

</div> <br>

<div class="row">
    <div>
        <h5>balance : </h5>
    </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp;
    <div>
        <strong>0.00f</strong>
    </div>
</div>
<br>
<div class="butto">
    <button type="button" class="btn btn-primary">save & print</button> <button type="button"
        class="btn btn-dark">cancel</button>
</div>