<div class="client">
    <h3>Add customers</h3>
    <p>________________________________________________________</p>
    <div class="col">
        <div>Customer name</div> <br>
        <input [(ngModel)]="client.name" type="text" id="name" placeholder="enter Customer name"> <br> <br>

        <div>Phone number</div> <br>
        <input [(ngModel)]="client.phone" type="text" name="phone" id="phone" placeholder="enter Phone numner"> <br>
        <br>
        <div>Email</div> <br>
        <input [(ngModel)]="client.email" type="text" name="email" id="email" placeholder="enter Email"> <br> <br>
        <div>Tax number</div> <br>
        <input [(ngModel)]="client.tax_number" type="text" name="tax" id="tax" placeholder=" enter Tax number"> <br>
        <br>

        <div>Adress</div> <br>
        <input [(ngModel)]="client.adresse" type="text" name="adress" id="Adress" placeholder=" enter adress"> <br> <br>

    </div>
    <div class="butto">
        <button type="button" class="btn btn-primary" (click)="AddClient()">{{actionlabel}}</button> <button
            type="button" class="btn btn-dark">cancel</button>
    </div>


</div>