#ima {
    height: 900px;
    width: 400px;
    position: relative;
    top: 20px;

}

.click {
    background-color: blue;
}

a:focus {
    background-color: #e8ebee;
    border-radius: 10px;
    padding: 7px;
}




.ecrit {
    color: black;
}

nav {
    border-radius: 25px;
    height: 700px;
}