<div class="header  pb-8 pt-5 pt-md-8" id="carre">
    <!--one-->

    <div class="container mt-5">
        <div class="  col-xl-8 order-xl-1" id="cage">
            <div class="card bg-white shadow" id="cage1">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">

                            <div class="row align-items-center">

                                <div class="col">
                                    <input type="text" class="form-control" placeholder="search here" id="search">
                                </div>

                            </div> <br>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-body">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-body">

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow" id="one">
            <div class="card-header bg-white border-0">
                <div class="row align-items-center">

                    <div class="col">
                        <input type="text" class="form-control" placeholder="search here" id="search">
                    </div>

                </div> <br>
                



                <div class="card" id="card">
                    <div class="card-body">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeA8INh5Jal6MmofINSmTTwhWEmhX-kbmHzA&usqp=CAU "
                            class="img">
                        <strong>Pul</strong>
                    </div>
                </div>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;


                <div class="card" id="card1">
                    <div class="card-body">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAHCudwjowlqLKgxTI3isUkn2kiOFNgeXVtA&usqp=CAU"
                            class="img"> <br>
                        <strong>Jupe</strong>

                    </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                    <div class="card" id="card2">
                        <div class="card-body">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUgnr4CtlHspZRBx52KBNopA73AUobiDqW-Q&usqp=CAU"
                                class="img"> <br>
                            <strong>Cos</strong>

                        </div>
                    </div>

                    <div class="card" id="card3">
                        <div class="card-body">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSxvzkIDNXEyLEt4qy6OZWwKAeqTYGxdB5xA&usqp=CAU"
                                class="img"> <br>
                            <strong>11111</strong>

                        </div>
                    </div>

                    <div class="card" id="card4">
                        <div class="card-body">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKR9kyT7sHc2tGf998IWCMRtfTv7aGSV536A&usqp=CAU"
                                class="img"> <br>
                            <strong>femme</strong>

                        </div>
                    </div>

                    <div class="card" id="card5">
                        <div class="card-body">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqs_MztNgIyICnz0hminqcCf3HC0f-oVKuXQ&usqp=CAU"
                                class="img"> <br>
                            <strong>short</strong>

                        </div>
                    </div>

                    <div class="card" id="card6">
                        <div class="card-body">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAHCudwjowlqLKgxTI3isUkn2kiOFNgeXVtA&usqp=CAU"
                                class="img"> <br>
                            <strong>jupe</strong>
                        </div>


                    </div>
                    <div class="card" id="card7">
                        <div class="card-body">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcKhRlBQ_xBhyykAo6UEhhJX7PIfCvCMia3g&usqp=CAU"
                                class="img"> <br>
                            <strong>robe</strong>

                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>  -->



        <div class="container mt-5">
            <div class="  col-xl-8 order-xl-1" id="cage2">
                <div class="card bg-white shadow" id="cage3">
                    <div class="card-header bg-white border-0">
                        <div class="row align-items-center">
                            <div class="col-8">

                                <input type="text" placeholder="select a Customer" id="pre">
                                <button class="btn btn-primary" type="button" (click)="opendialogue()">ADD</button>

                                <br> <br>

                                <p id="id">ORD-2022</p>
                                <input type="date" id="date" name="date">


                                <table class="table">
                                    <thead class="table">
                                        <tr>

                                            <th scope="col">service</th>
                                            <th scope="col">color</th>
                                            <th scope="col">date</th>
                                            <th scope="col">Qty</th>

                                        </tr>
                                    </thead>

                                    <tbody>

                                        <tr>

                                            <th scope="row">1</th>
                                            <td>2</td>
                                            <td>3</td>
                                            <td>4</td>

                                        </tr>








                                    </tbody>

                                </table>


                                <button id="save">save and continue</button>
                                <button id="clear"> clear</button>




                            </div>
                        </div>
                    </div>
                </div>
            </div>





        </div>
    </div>